@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html {
  background-color: #fff9ed;
}

.e-resource-cells {
  padding-left: 0px !important ;
  white-space: break-spaces !important;
}

.event-template.e-schedule .e-vertical-view .e-content-wrap .e-appointment {
  border-radius: 8px;
  height: 80px !important;
}
.event-template,
.custom-scheduler,
td,
button {
  background-color: #fff9ed !important;
}

.e-toolbar-items,
.e-tbar-pos .e-toolbar-lef {
  background-color: #fff9ed !important;
}

.treeview-container {
  width: 30% !important;
}

.table-row {
  display: flex;
  /* border: 1px solid #ddd; */
  height: 100%;
  width: 100%;
  justify-content: space-between;
}
.table-heading {
  display: flex;
  /* border: 1px solid #ddd; */
  height: 100%;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.e-list-text {
  padding: 0px !important;
  margin: 0px;
  border: none !important;
  height: 35px !important;

  width: 100% !important;
}

.treeview-external-drag .e-list-parent,
.treeview-external-drag.e-rtl .e-list-parent,
.e-bigger .treeview-external-drag .e-list-parent,
.e-bigger .treeview-external-drag.e-rtl .e-list-parent {
  height: 510px !important;
}
.table-heading-cell {
  flex: 1;
  padding: 6px;
  font-weight: 600;
  width: 150px; /* Set a fixed width for the div */
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide the overflowing content */
  text-overflow: ellipsis; /* Show ellipsis (...) at the end of the trimmed text */
  border: 1px solid #ddd;

  text-align: center;
}
.table-cell {
  flex: 1;
  padding: 10px;
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide the overflowing content */
  text-overflow: ellipsis; /* Show ellipsis (...) at the end of the trimmed text */
  border: 1px solid #ddd;

  text-align: center;
  height: 100%;
}

.table-cell:last-child {
  border-right: none;
}
/* .table-heading-cell:last-child {
  border-right: none;
} */

.title-container {
  padding-bottom: 0px !important;
  width: 95% !important;
}
.e-fullrow {
  height: 35px !important;
}

.treeview-external-drag .e-list-item,
.e-bigger .treeview-external-drag .e-list-item {
  padding: 0px !important;
  height: 35px !important;
}

.e-list-parent .e-ul {
  height: 509px !important;
  overflow-y: scroll;
  overflow-x: hidden;
}

.parent {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  /* border-radius: 30px; */
  padding: 4px;
  /* height: 20px; */
  margin-top: 3px;
}

.child {
  padding: 2px;
  font-size: 7px;
  /* box-sizing: border-box; */
}

.child-1 {
  width: 70%;
  background-color: #f0f0f0;
  border-radius: 40px 0px 0px 40px;
  height: 12px;
}

.child-2 {
  width: 30%;
  background-color: #e0e0e0;
  border-radius: 0px 40px 40px 0px;
  height: 12px;
}

.event-template.e-schedule
  .e-vertical-view
  .e-content-wrap
  .e-appointment
  .e-appointment-details {
  padding: 5px;
  height: 100%;
  display: flex;
  border-radius: 8px;
}

.event-template.e-schedule .template-wrap {
  height: 100%;
  white-space: normal;
}

/* .event-template.e-schedule .template-wrap .image {
  padding: 8px 0 4px;
} */

/* .event-template.e-schedule .template-wrap .image img {
  height: 100%;
  width: 100%;
  padding: 10px 25%;
  box-shadow: none;
  border-radius: initial;
} */

.event-template.e-schedule .template-wrap .subject {
  font-weight: 600;
  font-size: 10px;
  padding: 4px 4px 4px;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
  overflow: hidden;
  height: 30%;
}

.event-template.e-schedule .template-wrap .time {
  height: 30%;
}
.event-template.e-schedule .template-wrap .time,
.event-template.e-schedule .template-wrap .event-description {
  font-size: 10px;
  padding-top: 2px;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.event-template.e-schedule .template-wrap .footer {
  position: absolute;
  bottom: 0;
  /* height: 50px; */
  width: 100%;
}

.e-work-cells,
.e-work-hours {
  height: 150px;
  width: 150px;
}

.event-template.e-schedule
  .e-timeline-view
  .e-appointment
  .e-appointment-details {
  padding: 0;
  height: 100%;
  width: 100%;
  display: block;
}

/* .event-template.e-schedule .e-timeline-view .template-wrap {
  width: 100%;
} */

/* .event-template.e-schedule .e-timeline-view .template-wrap .subject {
  font-size: 10px;
  padding-bottom: 3px;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
} */

/* here old css */
.drag-sample-wrapper {
  display: -ms-flexbox;
  display: flex;
}

.schedule-container {
  padding-right: 10px;
  width: 70%;
}
/* .schedule-control-section {
  margin-top: 120px;
} */

.title-container {
  padding-bottom: 10px;
}

.treeview-external-drag #waiting {
  height: 100%;
  padding: 0;
}

.treeview-external-drag #waitdetails {
  width: 95%;
  float: left;
  height: 100%;
  padding: 0;
}

.e-schedule.schedule-drag-drop .e-resource-cells.e-parent-node .template-wrap {
  padding: 3px 0px;
}

.title-text {
  font-size: 18px;
  margin: 13px;
  font-weight: bold;
  text-align: center;
}

.treeview-external-drag #waitlist {
  width: 100%;
  height: 50%;
  font-weight: bold;
  font-family: "Segoe UI";
  font-size: 12px;
  padding: 5px 0 0 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.treeview-external-drag #waitcategory {
  height: 50%;
  font-family: "Segoe UI";
  font-size: 10px;
  opacity: 0.6;
  padding-left: 10px;
  padding-top: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.treeview-external-drag .e-list-text,
.treeview-external-drag.e-rtl .e-list-text,
.e-bigger .treeview-external-drag .e-list-text,
.e-bigger .treeview-external-drag.e-rtl .e-list-text {
  border: 0.5px solid #e1e7ec;
  height: 50px;
  line-height: 15px;
  padding: 0 5px;
  width: 220px;
}

.treeview-external-drag .e-list-parent,
.treeview-external-drag.e-rtl .e-list-parent,
.e-bigger .treeview-external-drag .e-list-parent,
.e-bigger .treeview-external-drag.e-rtl .e-list-parent {
  height: 100%;
  padding: 0 2px;
}

.treeview-external-drag .e-list-item,
.e-bigger .treeview-external-drag .e-list-item {
  height: 100%;
  padding: 0 0 5px 0;
}

.treeview-external-drag .e-fullrow,
.e-bigger .treeview-external-drag .e-fullrow {
  height: 55px;
}

.treeview-external-drag .e-list-item.e-hover > .e-fullrow,
.treeview-external-drag .e-list-item.e-active > .e-fullrow,
.treeview-external-drag .e-list-item.e-active.e-hover > .e-fullrow,
.e-bigger .treeview-external-drag .e-list-item.e-hover > .e-fullrow,
.e-bigger .treeview-external-drag .e-list-item.e-active > .e-fullrow,
.e-bigger .treeview-external-drag .e-list-item.e-active.e-hover > .e-fullrow {
  background-color: transparent;
  border-color: transparent;
  box-shadow: none !important;
}

.treeview-external-drag .e-text-content,
.e-bigger .treeview-external-drag .e-text-content,
.treeview-external-drag.e-rtl .e-text-content,
.e-bigger .treeview-external-drag.e-rtl .e-text-content {
  padding: 0;
  background-color: inherit;
}

.e-drag-item.e-treeview.treeview-external-drag,
.e-bigger .e-drag-item.e-treeview.treeview-external-drag {
  padding: 0 !important;
}

.e-schedule.schedule-drag-drop .e-timeline-view .e-resource-left-td,
.e-schedule.schedule-drag-drop .e-timeline-month-view .e-resource-left-td {
  width: 160px;
}

.e-schedule.schedule-drag-drop
  .e-resource-cells.e-parent-node
  .specialist-category {
  padding-left: 30px;
}

.e-schedule.e-rtl.schedule-drag-drop
  .e-resource-cells.e-parent-node
  .specialist-category {
  padding-right: 30px;
}

.e-schedule.schedule-drag-drop
  .e-resource-cells.e-child-node
  .specialist-category,
.e-schedule.schedule-drag-drop .e-resource-cells.e-child-node .specialist-name {
  padding: 5px;
}

.e-schedule.schedule-drag-drop
  .e-resource-cells.e-parent-node
  .specialist-name {
  padding: 0 10px;
}

.e-schedule.schedule-drag-drop .e-resource-cells .specialist-name {
  font-size: 13px;
}

.e-schedule.schedule-drag-drop .e-resource-cells .specialist-designation {
  font-size: 10px;
}

.e-schedule.schedule-drag-drop .specialist-image {
  width: 45px;
  height: 40px;
  float: left;
  border-radius: 50%;
  margin-right: 10px;
  background-repeat: no-repeat;
  background-size: 45px;
}

.e-device-hover {
  background-color: #e0e0e0 !important;
}

.e-schedule.schedule-drag-drop
  .e-resource-cells.e-parent-node
  .specialist-image {
  display: none;
}

.schedule-drag-drop.e-schedule .template-wrap .specialist-image.alice {
  background-image: url("https://ej2.syncfusion.com/react/demos/src/schedule/images/alice.png");
}

.schedule-drag-drop.e-schedule .template-wrap .specialist-image.robert {
  background-image: url("https://ej2.syncfusion.com/react/demos/src/schedule/images/robert.png");
}

.schedule-drag-drop.e-schedule .template-wrap .specialist-image.robson {
  background-image: url("https://ej2.syncfusion.com/react/demos/src/schedule/images/robson.png");
}

.schedule-drag-drop.e-schedule .template-wrap .specialist-image.laura {
  background-image: url("https://ej2.syncfusion.com/react/demos/src/schedule/images/laura.png");
}

.schedule-drag-drop.e-schedule .template-wrap .specialist-image.nancy {
  background-image: url("https://ej2.syncfusion.com/react/demos/src/schedule/images/nancy.png");
}

.schedule-drag-drop.e-schedule .template-wrap .specialist-image.margaret {
  background-image: url("https://ej2.syncfusion.com/react/demos/src/schedule/images/margaret.png");
}

@media (max-width: 550px) {
  .drag-sample-wrapper {
    display: block;
  }
  .schedule-container {
    padding-bottom: 10px;
  }
  .treeview-external-drag.e-treeview,
  .e-bigger .treeview-external-drag.e-treeview {
    width: 250px;
  }
  .e-bigger .treeview-external-drag.e-treeview.e-drag-item {
    position: relative !important;
  }
}
.e-disble-not-allowed {
  cursor: unset !important;
}

.e-drag-item.treeview-external-drag .e-icon-expandable {
  display: none;
}
